* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F8F8FB;
}

/* fonts */

@font-face {
    font-family: MetronicPro;
    src: url(../font/MetronicPro.ttf);
}

@font-face {
    font-family: MetronicPro-Thin;
    src: url(../font/MetronicPro-Thin.ttf);
}

@font-face {
    font-family: MetronicPro-ThinItalic;
    src: url(../font/MetronicPro-ThinItalic.ttf);
}

@font-face {
    font-family: MetronicPro-Light;
    src: url(../font/MetronicPro-Light.ttf);
}

@font-face {
    font-family: MetronicPro-LightItalic;
    src: url(../font/MetronicPro-LightItalic.ttf);
}

@font-face {
    font-family: MetronicPro-SemiBold;
    src: url(../font/MetronicPro-SemiBold.ttf);
}

@font-face {
    font-family: MetronicPro-SemiBoldItalic;
    src: url(../font/MetronicPro-SemiBoldItalic.ttf);
}

@font-face {
    font-family: MetronicPro-Italic;
    src: url(../font/MetronicPro-Italic.ttf);
}

@font-face {
    font-family: MetronicPro-Bold;
    src: url(../font/MetronicPro-Bold.ttf);
}

@font-face {
    font-family: MetronicPro-BoldItalic;
    src: url(../font/MetronicPro-BoldItalic.ttf);
}

@font-face {
    font-family: MetronicPro-Black;
    src: url(../font/MetronicPro-Black.ttf);
}

@font-face {
    font-family: MetronicPro-BlackItalic;
    src: url(../font/MetronicPro-BlackItalic.ttf);
}

/* fonts end */


/* Header */

.headermain {
    background: linear-gradient(270deg, rgba(250, 165, 38, 1) 0%, rgba(250, 165, 38, 1) 0%, rgba(233, 78, 21, 1) 80%);
    padding: 0px 20px;
}

ul.navbar-nav.mb-2.mb-lg-0 {
    margin-left: auto !important;
}

a.nav-link {
    color: white;
    padding: 0 25px !important;
    font-family: MetronicPro;
    font-weight: 400;
}

.nav-link:focus,
.nav-link:hover {
    color: white;
}

.navbar-toggler img {
    width: 30px;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.topsearch {
    position: relative;
}

.topsearch input {
    color: #F1841D;
    font-size: 20px;
    padding: 15px 25px;
    width: 540px;
    border: none;
    border-radius: 10px;
    font-family: MetronicPro;
    font-weight: 400;
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    margin-left: 25px;
}

.topsearch input::placeholder {
    font-family: MetronicPro;
    font-weight: 400;
    color: #F1841D;
    font-size: 20px;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.topsearch img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menuproimg {
    margin-left: 26px;
    margin-right: 40px;
}

.notification {
    margin: 0 40px;
}

/* Header end */



/* Left Right Area */

/* Right Side Area */

.rightareamain {
    width: 314px;
    /* height: 1000px; */
    background: white;
    float: right;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
}

.rightitems {
    padding: 27px 18px;
}

.searchbar {
    position: relative;
    margin-bottom: 19px;
}

.searchbar input {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    font-family: MetronicPro;
    font-size: 14px;
    color: #000000;
}

.searchbar input::placeholder {
    font-family: MetronicPro;
    font-size: 14px;
    color: #000000;
}

.searchbar img {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-50%, -50%);
}

.searchproitem {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
}

.searchproitem img {
    width: 44px;
    margin-right: 12px;
}

.pronames {
    width: 100%;
}

.proname {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proname p {
    font-family: MetronicPro-Bold;
    color: #3e3f3e;
    margin-bottom: 0;
    font-size: 16px;
}

.proname span {
    font-family: MetronicPro;
    color: #989ab3;
    margin-bottom: 0;
    font-size: 16px;
}

.pronames h5 {
    font-family: MetronicPro;
    color: #65667f;
    margin-bottom: 0;
    font-size: 13px;
}


.btmbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #E2E2E2;
    padding: 12px 0;
}

.btmbuttons img {
    width: 20px;
    margin: 0 10px;
}

.chatsbtn {
    border: 1px solid #16C7FF;
    background: #16C7FF;
    color: white;
    padding: 6px 30px;
    font-family: MetronicPro;
    border-radius: 10px;
    margin: 0 10px;
}

.demosbtn {
    border: 1px solid #16C7FF;
    background: white;
    color: #16C7FF;
    padding: 6px 22px;
    font-family: MetronicPro;
    border-radius: 10px;
    margin: 0 10px;
}

/* Right Side Area End */


/* Left Side Area */

.leftareamain {
    width: 456px;
    background: white;
    float: left;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
}

.livehead {
    background: #F5F5F8;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.liveheadtitle {
    display: flex;
    align-items: center;
}

.liveheadtitle img {
    width: 40px;
    margin-right: 8px;
}

.livenames p {
    font-family: MetronicPro;
    font-size: 14px;
    margin-bottom: 0;
}

.livenames h5 {
    font-family: MetronicPro-SemiBold;
    font-size: 18px;
    margin-bottom: 0;
}

.liveheadiscover {
    display: flex;
    align-items: center;
}

.liveheadiscover img {
    width: 35px;
}

.liveheadiscover img:first-child {
    margin-right: 7px;
}

.liveshow {
    background: #F5F5F8;
}

.livevideo {
    position: relative;
}

.livesvid {
    width: 100%;
}

.livevideoviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    position: absolute;
    top: 0;
    width: 100%;
}

.mainviews {
    display: flex;
    align-items: center;
}

.mainviews img {
    margin-right: 8px;
}

.mainviews p {
    font-family: MetronicPro;
    font-size: 14px;
    color: white;
    margin-bottom: 0;
}

.livesreactions {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reactions img {
    display: block;
    margin: 0 auto;
}

.reactions p {
    text-align: center;
    font-family: MetronicPro;
    font-size: 11px;
    margin-bottom: 0;
}

.descriptionbox {
    padding: 10px 14px;
    border-bottom: 1px solid #E2E2E2;
}

.describs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.describs h5 {
    font-family: MetronicPro-SemiBold;
    font-size: 16px;
    margin-bottom: 6px;
    color: #CECFDF;
}

.descriptionbox p {
    font-family: MetronicPro;
    font-size: 14px;
    margin-bottom: 0;
}

.commentbox {
    padding: 12px;
    padding-bottom: 46px;
    background-color: #F5F5F8;
}

.comments {
    padding: 8px 12px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    margin-bottom: 12px;
}

.commentpro {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.commentpropic {
    width: 44px;
    margin-right: 8px;
}

.commentname {
    width: 100%;
}

.commentowner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.commentowner p {
    font-family: MetronicPro-SemiBold;
    font-size: 15px;
    margin-bottom: 0px;
}

.commentname h6 {
    font-family: MetronicPro-SemiBold;
    font-size: 12px;
    margin-bottom: 0px;
    color: #CECFDF;
}

.maincomment {
    margin-left: 40px;
    margin-bottom: 0;
    font-family: MetronicPro;
    font-size: 14px;
}


/* Left Side Area End */


/* Hero Area */

.heroareamain {
    width: 1150px;
    display: block;
    margin: 0 auto;
}

.heromainarea {
    margin-left: 195px;
    margin-right: 55px;
}

/* Main Content */

.dealbtns {
    margin-bottom: 33px;
    margin-top: 27px;
    background: white;
    padding: 7px 15px;
    -webkit-box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 16%);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 16%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dealbtns button {
    width: 100%;
    padding: 11px;
    border-radius: 10px;
}

.finddeal {
    margin-left: 8px;
    padding: 12px;
    color: white;
    border: none;
    font-size: 18px;
    font-family: MetronicPro-Bold;
    background: linear-gradient(180deg, rgba(250, 165, 38, 1) 0%, rgba(250, 165, 38, 1) 0%, rgba(233, 78, 21, 1) 80%);
}

.createdeal {
    margin-right: 8px;
    border: 1px solid #F1841D;
    font-size: 18px;
    font-family: MetronicPro-Bold;
    color: #F1841D;
    background: transparent;
}

.contentsfilter {
    background: white;
    padding-top: 39px;
    padding-bottom: 39px;
    padding-left: 28px;
    -webkit-box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 16%);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 16%);
    border-radius: 10px;
    margin-bottom: 27px;
}

.radiocontent {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.categorytext {
    display: flex;
    align-items: center;
    width: 150px;
}

.categoryimg {
    width: 40px;
}

.categoryimg img {
    width: 24px;
}

.categorytext p {
    font-size: 18px;
    font-family: MetronicPro-SemiBold;
    margin-bottom: 0;
}

input[type='radio'] {
    -webkit-appearance: none;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    outline: none;
    border: 2px solid #000;
    margin-right: 7px;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

input[type="radio"]:checked {
    border-color: black;
}

input[type="radio"]:checked:before {
    background-image: url("../img/radioimg.png");
}

.radiobtns {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.radiobtns label {
    font-size: 18px;
    font-family: MetronicPro-SemiBold;
    margin-bottom: 0;
}

.periods {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.dates {
    display: flex;
    align-items: center;
}

.dateinput {
    position: relative;
}

.dateinput input {
    font-family: MetronicPro;
    font-size: 13px;
    color: #000;
    padding: 5px 16px;
    width: 122px;
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 15px;
}

.dateinput img {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translate(-50%, -50%);
}

.dates p {
    font-size: 13px;
    font-family: MetronicPro-SemiBold;
    margin-bottom: 0;
    margin: 0 8px;
}

button#dropdownMenuButton1 {
    padding: 15px 17px;
    position: relative;
    border-radius: 15px;
    border: none;
    background: white;
    color: #CDCFDF;
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    width: 273px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-toggle::after {
    display: none;
}

button#dropdownMenuButton1 p {
    font-family: MetronicPro-SemiBold;
    font-size: 13px;
    margin-bottom: 0;
}

ul.dropdown-menu.show {
    width: 100%;
}

.genrecountry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 19px;
    margin-right: 10px;
}

.genrediv {
    display: flex;
    align-items: center;
}

.countrydiv {
    display: flex;
    align-items: center;
}

.dateinput2 input {
    text-align: center;
}

.dateinput2 input::placeholder {
    text-align: center;
}

.lastgenre {
    margin-bottom: 0;
}


.runresearch {
    margin-bottom: 33px;
    background: white;
    padding: 7px 15px;
    -webkit-box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 16%);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 16%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.runresearchbtn {
    width: 50%;
    border-radius: 10px;
    margin-right: 8px;
    padding: 12px;
    color: white;
    border: none;
    font-size: 18px;
    font-family: MetronicPro-Bold;
    background: linear-gradient(180deg, rgba(250, 165, 38, 1) 0%, rgba(250, 165, 38, 1) 0%, rgba(233, 78, 21, 1) 80%);
}

button#dropdownMenuButton2 {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
}

button#dropdownMenuButton2 p {
    color: #CDCFDF;
    font-family: MetronicPro;
    font-size: 20px;
    margin-right: 30px;
    margin-bottom: 0;
}

.card1 {
    margin-bottom: 27px;
    background: white;
    padding: 14px;
    -webkit-box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 16%);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 16%);
    border-radius: 10px;
}

.cardpic {
    position: relative;
    margin-bottom: 14px;
}

.card1pic {
    width: 100%;
}

.videoplay {
    width: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playlistwhite {
    width: 32px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.carddtls1 {
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}

.carddtls1 img {
    width: 17px;
    margin-right: 8px;
}

.carddtls1 p {
    font-family: MetronicPro-SemiBold;
    font-size: 14px;
    margin-bottom: 0;
}

.postesdiv {
    margin-bottom: 27px;
    background: white;
    padding: 12px 20px 0 36px;
    -webkit-box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 16%);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 16%);
    border-radius: 10px;
}

.postowner {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.postownerpic img {
    width: 44px;
    margin-right: 20px;
}

.postownerdtls {
    width: 100%;
}

.postownername {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postownername p {
    font-family: MetronicPro-SemiBold;
    font-size: 15px;
    margin-bottom: 0;
}

.postownerdtls h5 {
    font-family: MetronicPro-SemiBold;
    font-size: 12px;
    color: #CECFDF;
    margin-bottom: 0;
}

.postcontent p {
    font-family: MetronicPro-SemiBold;
    font-size: 20px;
    margin-bottom: 11px;
}

.postcontent h5 {
    font-family: MetronicPro-SemiBold;
    font-size: 14px;
    margin-bottom: 0;
    padding-bottom: 14px;
}

.videopost {
    margin-bottom: 27px;
    background: white;
    padding: 13px;
    -webkit-box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 16%);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 16%);
    border-radius: 10px;
}

.videocontent {
    display: flex;
}

.playvideo {
    position: relative;
    margin-right: 13px;
}

.videoplays {
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.videotitle p {
    font-family: MetronicPro-SemiBold;
    font-size: 20px;
    margin-bottom: 0px;
}

.videotitle h6 {
    font-family: MetronicPro;
    font-size: 14px;
    margin-bottom: 0;
}

.sliderpost {
    margin-bottom: 27px;
    background: white;
    -webkit-box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 16%);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 16%);
    border-radius: 10px;
}

.postowner2 {
    padding: 12px 20px 4px 36px;
    margin-bottom: 0;
}

.sliderdtls {
    background: #F5F5F8;
    padding: 5px 36px;
}

.sliderdtls p {
    font-family: MetronicPro-SemiBold;
    font-size: 20px;
    margin-bottom: 0px;
}

.sliderdtls h6 {
    font-family: MetronicPro;
    font-size: 14px;
}

.mainslider img {
    padding: 23px 32px;
    width: 100%;
}








/* Responsive */

@media (max-width:1700px) {

    /* navbar */

    a.nav-link {
        color: white;
        padding: 0 12px !important;
        font-family: MetronicPro;
        font-weight: 400;
    }

    /* navbar end */

    /* Left right */

    .rightareamain {
        width: 260px;
        float: right;
    }

    .leftareamain {
        width: 400px;
        float: left;
    }


    /* Left right End */

}


@media (max-width:1500px) {

    /* navbar */

    .topsearch input {
        padding: 15px 25px;
        font-size: 16px;
        width: 360px;
        margin-left: 25px;
    }

    .topsearch input::placeholder {
        font-size: 16px;
    }

    /* navbar end */

    /* Left right */

    .leftrightareamain {
        display: flex;
    }

    .rightarea {
        width: 50%;
    }

    .rightareamain {
        width: 100%;
        height: 100%;
        float: unset;
        position: relative;
    }

    .leftarea {
        width: 50%;
    }

    .leftareamain {
        width: 100%;
        float: unset;
    }

    .btmbuttons {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #E2E2E2;
        padding: 12px 0;
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    /* middle body */

    .heroareamain {
        width: unset;
    }

    .heromainarea {
        width: 900px;
        margin: 0 auto;
    }


    /* Left right End */

}


@media (max-width:1400px) {

    /* navbar */

    .topsearch input {
        padding: 10px 15px;
        width: 300px;
        margin-left: 25px;
    }

    .topsearch input::placeholder {
        font-size: 16px;
    }

    .menuproimg {
        margin-left: 18px;
        margin-right: 20px;
    }

    .notification {
        margin: 0 20px;
    }

    /* navbar end */

}


@media (max-width:1300px) {}


@media (max-width:1200px) {

    /* navbar */

    a.nav-link {
        color: white;
        padding: 0 12px !important;
        font-family: MetronicPro;
        font-weight: 400;
        font-size: 14px;
    }

    .topsearch input {
        padding: 10px 15px;
        width: 180px;
        margin-left: 0px;
    }

    .menuproimg {
        margin-left: 10px;
        margin-right: 10px;
    }

    /* navbar end */

}


@media (max-width:991px) {

    /* navbar */

    a.nav-link {
        padding: 3px 10px !important;
        text-align: center;
        font-size: 16px;
    }

    .topsearch {
        position: relative;
        margin-bottom: 20px;
    }

    .topsearch input {
        padding: 10px 15px;
        width: 100%;
        margin-left: 0px;
    }

    .navproitems {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;
    }

    img.menufilter {
        width: 20px;
        height: 20px;
    }

    img.notification {
        width: 20px;
        height: 20px;
    }

    img.settings {
        width: 20px;
        height: 20px;
    }

    /* navbar end */


}


@media (max-width:768px) {

    .heromainarea {
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }

    .radiobtns {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    .genrecountry {
        display: flex;
        align-items: center;
        justify-content: unset;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .genrediv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 19px;
    }

    .countrydiv {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 19px;
    }

    .carddtls1 p {
        font-family: MetronicPro-SemiBold;
        font-size: 12px;
        margin-bottom: 0;
    }

}


@media (max-width:576px) {

    /* left Right */

    .leftrightareamain {
        display: flex;
        flex-direction: column-reverse;
    }

    .leftarea {
        width: 100%;
    }

    .rightarea {
        width: 100%;
    }

    /* left Right End */

    .radiocontent {
        display: flex;
        align-items: center;
        margin-bottom: 28px;
        flex-wrap: wrap;
    }

    .dates {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .periods {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
        margin-right: 15px;
    }

    .dates p {
        display: none;
    }

    .dateinput input {
        margin-bottom: 8px;
    }

    button#dropdownMenuButton1 {
        padding: 15px 17px;
        position: relative;
        border-radius: 15px;
        border: none;
        background: white;
        color: #CDCFDF;
        -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
        box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.16);
        width: 170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button#dropdownMenuButton2 p {
        color: #CDCFDF;
        font-family: MetronicPro;
        font-size: 16px;
        margin-right: 8px;
        margin-bottom: 0;
    }

    .runresearchbtn {
        width: 50%;
        border-radius: 10px;
        margin-right: 8px;
        padding: 12px;
        color: white;
        border: none;
        font-size: 14px;
        font-family: MetronicPro-Bold;
        background: linear-gradient(180deg, rgba(250, 165, 38, 1) 0%, rgba(250, 165, 38, 1) 0%, rgba(233, 78, 21, 1) 80%);
    }

    .playvideo {
        position: relative;
        margin-right: 13px;
        height: 100%;
    }

}